<!DOCTYPE html>
<html lang="pt-ao" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <link rel="stylesheet" th:href="@{/webjars/materializecss/1.0.0/css/materialize.min.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <title>GestRendaApp</title>

    <script type="javascript" src="webjars/jquery/3.5.1/jquery.min.js"></script>
    <script type="javascript" src="webjars/materializecss/1.0.0/js/materialize.min.js"></script>
</head>
<body>

<!--HEADER-->
<div id="header">

    <div class="container">

        <nav class="navbar navbar-expand-lg navbar-light justify-content-between mb-4"
             style="box-sizing: border-box">
            <div class="row">

                <div class="col-auto ml-md-2">
                    <button
                            aria-controls="navbarNav"
                            aria-expanded="false"
                            aria-label="Toggle navigation"
                            class="navbar-toggler"
                            data-target="#navbarNav"
                            data-toggle="collapse"
                            type="button">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>

                <div class="collapse navbar-collapse col-6" id="navbarNav">
                    <div class="navbar-brand col-2"><a href="#">Logo_home</a></div>
                    <h5 class="hide-on-large">Menu</h5>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/inquilino}">Inquilinos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/residencia}">Residências</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/proprietario}">Proprietários</a>
                        </li>
                    </ul>
                </div>

                <div class="right-align col-4"
                     id="login">
                    <a class="btn btn-outline-primary" th:href="@{/usuario}"><span>Faça o seu login</span></a>
                </div>
            </div>
        </nav>
    </div>
</div>
<!--//HEADER-->

<!---->
<div>
    <div id="imagem-container">
        <aside id="imagem">
            <img th:alt="${'Foto do ' + proprietario.getNome()}"
                 th:src="${proprietario.caminhoDaImagem}"
                 height="100px" width="100px"
            />
        </aside>
    </div>

    <div id="corpo-container">
        <div id="nome">Nome</div>
        <div id="nomeV"><span th:text="${proprietario.nome}"></span></div>
        <div id="sobrenome">Sobrenome</div>
        <div id="sobrenomeV"><span th:text="${proprietario.sobrenome}"></span></div>
        <div id="telefone">Telefone</div>
        <div id="telefoneV"><span th:text="${proprietario.telefone}"></span></div>
        <div id="residencia">Resistência</div>
        <div id="residenciaV"><span th:text="${proprietario.residencia}"></span></div>
    </div>
    <div id="residencias">
        <fieldset>
            <legend>Residências</legend>
            <div th:if="${proprietario.residencias.size() > 0}" th:each="residencia : ${proprietario.getResidencias()}">
                <a th:href="${#mvc.url('RC#residencia').arg(0, residencia.ID).build()}">
                    <div class="row">
                        <div>
                            <hgroup>
                                <h3><span th:text="${residencia}"></span></h3>
                                <h6 th:if="${residencia.ocupada}"><span>Ocupada por</span> <span
                                        th:text="${residencia.inquilino}"></span></h6>
                                <h6 th:if="${!residencia.ocupada}">Livre!!!</h6>
                                <h5>
                                    <a th:if="${!residencia.ocupada}"
                                       th:href="${#mvc.url('IC#propResInq').arg(0, residencia.ID).build()}">
                                    <i>Add Inquilino</i>
                                    </a>
                                </h5>
                            </hgroup>
                        </div>
                    </div>
                </a>
            </div>
            <div th:if="${proprietario.residencias.size() == 0}">
                <p>
                    Adicione uma residência e comece a geri-la...
                </p>
            </div>
            <div>
                <a th:href="${#mvc.url('RC#propRes').arg(0, proprietario.ID).build()}"><i>Add</i></a>
            </div>
        </fieldset>
    </div>
</div>
<!---->


<!--script type="javascript" src="popperjs/popper.js"></script>
<script type="javascript" src="bootstrap/js/bootstrap.min.js"></script-->
</body>
</html>